In [1]:
import psycopg2 # PostgreSQL
import pandas as pd
import numpy as np
import sqlalchemy

In [2]:
from sqlalchemy import create_engine

### Connection to Postgres's DataBase : Sensors

In [3]:
DATABASE_NAME = str(input("DATABASE NAME :"))   #"Your database name"
USER_NAME     = str(input("USER NAME :"))       #"postgres" by default
PASSWORD      = str(input("PASSWORD : "))       #"PASSWORD"
IP_ADDRESS    = str(input("IP ADDRESS : "))     #"localhost" on local ports
HOST_PORT     = str(input("NUMBER OF PORT : ")) #"5432" is the default PG port number

param_connexion = (DATABASE_NAME,USER_NAME, PASSWORD, IP_ADDRESS, HOST_PORT)

DATABASE NAME : Sensors
USER NAME : postgres
PASSWORD :  TEST
IP ADDRESS :  localhost
NUMBER OF PORT :  5432

In [4]:
engine = create_engine('postgresql://'+USER_NAME+':'+PASSWORD+'@'+IP_ADDRESS+':'+HOST_PORT+'/'+DATABASE_NAME)

### Test of connection by query the Dataset

In [5]:
connexion = psycopg2.connect(dbname=DATABASE_NAME, user=USER_NAME, password=PASSWORD)
query =  "SELECT * FROM dico_sensor;"

In [6]:
df = pd.read_sql_query(query, connexion)
df.head()

    id            eui_id  tc_input equipement_ouptut
0  726  70b3d59ba0000465         1             Index
1  727  70b3d59ba0000465         3             Index
2  261  70b3d59ba0000605         0    Delta Pression
3  140  70b3d59ba00005c9         0    Delta Pression
4  262  70b3d59ba00005c3         0    Delta Pression

In [7]:
connexion.close()

### Export DataFrame to DataBase

In [8]:
def DataFrameToDB(param_connexion,DataFrame, table_name):

    engine = create_engine('postgresql://'+param_connexion[1]+':'+param_connexion[2]+'@'+param_connexion[3]+':'+param_connexion[4]+'/'+param_connexion[0])
    DataFrame.to_sql(table_name, engine, if_exists='replace')    
    
    return "The Dataframe "+ str(table_name) +" has correctly been exported to PostgresSQL"

In [9]:
DataFrameToDB(param_connexion,pd.read_csv("./data/dico.csv", delimiter=";"), "dico")

'The Dataframe dico has correctly been exported to PostgresSQL'